.backg {background-color: #2a4253; padding: 0px 10px;}
.center {text-align: center;}
div {border-color: #000000bb; border-style: inset; border-width: 2px;}
body {font-family: sans-serif; background-color: #1c2128; color: white; text-align: center;}
h1 {background-color: #2a4253; color: #dfdfdf;}
.h3 {padding: 1%; background-color: #1c2128; color: #5b9ec2; border-radius: 10px 10px 0 0; margin: 0 25%;}
a {width: 150px; margin: 5px; padding: 5px 10px; background: rgba(0, 0, 0, 0.212); display: inline-block;
    color: #cbeaff; text-decoration: none; border-radius: 5px; transition: all 0.2s ease;}
a:hover {background: #aadcff; color: black; transform: scale(1.1);}
hr {border-color: #1c2128;}

/* gayest gaymer of all time */
