.links {text-align: right; color:#aadcff; background-color: #1c2128;}
.backg {background-color: #2a4253; padding: 15px;}
.center {text-align: center;}
body {background-color: #1c2128; color: white; text-align: center;}
h1 {background-color: #2a4253; color: #dfdfdf;}
h3 {background-color: #1c2128; color: #5b9ec2;}
a {color: #aadcff; text-decoration: none;}
a:hover {color: white; text-decoration: overline underline;}

/* gayest gaymer of all time */